[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]
aiohttp = ">=3.5,<3.6"
hbmqtt = "<0.10,>=0.9"
jsonschema = "<2.7,>=2.6"
motor = "<1.3,>=1.2"
pijon = "<0.2,>=0.1"
tukio = "<0.17,>=0.16"
# https://nvd.nist.gov/vuln/detail/CVE-2017-18342
pyyaml = "==4.2b4"

[dev-packages]
asynctest = ">=0.5,<0.6"
coverage = ">=4.4,<4.5"
nose = ">=1.3,<1.4"
nose-ignore-docstring = "==0.2"

[pipenv]
keep_outdated = true
